.section--about-banner .inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 440px;
	color: var(--colorWhite);
	background-image: url("../images/about/about-banner_full_cmprssd.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-radius: 10px;
}

.about-banner__title {
	margin-bottom: 32px;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
}

.about-banner__description {
	max-width: 60%;
	font-size: 24px;
	font-style: italic;
	font-weight: 300;
	line-height: 36px;
	text-align: center;
}

.section--achievements {
    margin: 75px 0;
}

.section--achievements .title--section {
	margin-bottom: 12px;
}

.section--achievements .inner {
	display: flex;
	align-items: flex-start;
	gap: 50px;
}

.about-achievements__description {
	flex-basis: calc((100% - 50px) / 2);
	max-width: calc((100% - 50px) / 2);
}

.achievements__items {
	display: flex;
	justify-content: space-between;
	flex-basis: calc((100% - 50px) / 2);
	max-width: calc((100% - 50px) / 2);
	width: 100%;
}

.achievements__item {
	position: relative;
	max-width: 140px;
}

.achievements__image {
	display: flex;
	align-items: flex-end;
	width: 100%;
	height: 160px;
}

.achievements__left-column {
	width: 50%;
	height: 50%;
	background-color: var(--colorRed);
}

.achievements__right-column	 {
	width: 50%;
	height: 100%;
	background-color: var(--colorRose);
}

.achievements__text {
	margin-top: 15px;
	line-height: 19px;
	text-align: center;
	color: var(--colorBlackSecondary);
}

.achievements__indicators {
	position: absolute;
	top: 0;
	left: 0;
}

.achievements__indicators-text {
	font-weight: 700;
	line-height: 19px;
	color: var(--colorBlackSecondary);
}

.achievements__indicators-digit {
	font-size: 48px;
	font-weight: 700;
	line-height: 58px;
	color: var(--colorRed);
}

.section--about-separate {
	margin: 75px 0;
}

.section--about-separate .inner {
	display: flex;
	gap: 50px;
}

.about-separate__image {
	flex-basis: calc((100% - 50px) / 2);
	max-width: calc((100% - 50px) / 2);
	object-fit: cover;
}

.about-separate__description {
	flex-basis: calc((100% - 50px) / 2);
	max-width: calc((100% - 50px) / 2);
}

.section--about-separate .title--section {
	margin-bottom: 12px;
}

.about-separate__text {
	margin-bottom: 15px;
}

.about-separate__text:last-child {
	margin-bottom: 0;
}

.section--certificates {
	margin: 75px 0;
}

.section--certificates .title--section {
	margin-bottom: 12px;
}

.certificates__description {
	margin-bottom: 35px;
}

.section--certificates .slick-slide {
    margin-left: 8px;
    margin-right: 8px;
}

.certificates__slider img {
	cursor: zoom-in;
}

.fancybox__container {
	z-index: 105000;
}



/* --- ADAPTING */

@media (max-width: 1024px) {

	.section--about-banner .inner {
		height: 60vh;
	}
	
	.about-banner__description {
		max-width: 80%;
	}

}
/* ↑↑↑ 1024px ↑↑↑ */



@media (max-width: 1023px) {

	.section--achievements .inner {
		flex-direction: column;
	}
	
	.about-achievements__description {
		flex-basis: 100%;
		max-width: 100%;
	}
	
	.achievements__items {
		flex-basis: 100%;
		max-width: 100%;
	}
	
	.section--about-separate .inner {
		flex-direction: column-reverse;
	}
	
	.about-separate__description {
		flex-basis: 100%;
		max-width: 100%;
	}
	
	.about-separate__image {
		flex-basis: 100%;
		max-width: 100%;
	}

}
/* ↑↑↑ 1023px ↑↑↑ */



@media (max-width: 820px) {

	.section--about-banner .inner {
		height: 70vh;
	}
	
	.about-banner__description {
		max-width: 90%;
	}
	
}
/* ↑↑↑ 820px ↑↑↑ */



@media (max-width: 480px) {

	.achievements__items {
		flex-direction: column;
		gap: 40px;
	}
	
	.achievements__item {
		margin: 0 auto;
	}
	
	.about-banner__description {
		max-width: 95%;
		font-size: 20px;
		line-height: 30px;
	}

}
/* ↑↑↑ 480px ↑↑↑ */



@media (max-width: 360px) {
	
    .about-banner__description {
        font-size: 16px;
        line-height: 24px;
    }
	
}
/* ↑↑↑ 360px ↑↑↑ */