.section--catalog .tags {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 12px 0 35px;
}

.section--catalog .tags.disabled {
	margin: 0;
}

.tags-list {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin: 12px 0;
}

.tags-list__item {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 8px 10px;
	font-size: 14px;
	line-height: 17px;
	color: var(--colorGrayLight);
	background-color: var(--colorGrayOther);
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.75s;
}

.tags-list__item:hover {
	background-color: var(--colorGrayDark);
}

.tags-list__item-close {
	line-height: 0;
}

.tags-list__item-close svg rect, 
.tags-list__item-close svg path {
	transition: all 0.75s;
}

.tags-list__item:hover .tags-list__item-close svg rect {
	fill: var(--colorRed);
}

.tags-list__item:hover .tags-list__item-close svg path {
	fill: var(--colorWhite);
}

#clear-all-tags {
	width: auto;
	padding: 8px 10px;
    font-size: 14px;
	font-weight: 400;
    line-height: 17px;
}

@media (max-width: 1024px) {

	.section--catalog .tags {
		margin: 12px 0 25px;
	}

}
/* ↑↑↑ 1024px ↑↑↑ */