.select {
	position: relative;
	z-index: 1000;
	min-width: 120px;
	font-size: 16px;
	font-weight: 500;
	line-height: normal; 
}

.select__title {
	display: flex;
	align-items: center;
	padding-right: 24px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: all 0.75s;
}

.select__title:hover {
	color: var(--colorRed);
}

.select__title:hover::before, 
.select__title:hover::after {
	background-image: url("../icons/catalog/select/icon-selector-arrow_down-hover.svg"); 
}

.select__title::before, 
.select__title::after {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -5px;
	display: block;
	width: 24px;
	height: 12px;
	background-image: url("../icons/catalog/select/icon-selector-arrow_down.svg");
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 1.25s;
}

.select__title::after {
	transform: translateY(-25%) rotate(180deg);
	display: none;
}

.select__content {
    position: absolute;
	z-index: 10;
    top: 90%;
    left: -16px;
    display: flex;
    flex-direction: column;
    background-color: var(--colorWhite);
    border-radius: 12px; 
    opacity: 0;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12); 
	transition: all 0.5s ease-out;
}

.select[data-state="active"] .select__title::before {
	display: none;
}

.select[data-state="active"] .select__title::after {
	display: block;
}

.select[data-state="active"] .select__content {
	opacity: 1;
}

.select[data-state="active"] .select__label + .select__input + .select__label {
	max-height: 40px;
}

.select__input {
	display: none;
}

.select__input:disabled + label {
	opacity: 0.6;
	pointer-events: none;
}

.select__label {
	display: flex;
	align-items: center;
	width: 100%;
	min-width: 164px;
	height: 40px;
	max-height: 0;
	padding: 0 16px;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.25s ease-out;
}

.select__label:hover {
	font-weight: 700;
	color: var(--colorRed);
}

.select__label--current {
	position: relative;
}

.select__label--current::after {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	width: 24px;
	height: 24px;
	background-image: url("../icons/catalog/select/icon-catalog-select-checking.svg");
	background-position: center;
	background-repeat: no-repeat;
}



@media (max-width: 1024px) {
	
	.select {
		font-size: 14px;
	}

}
/* ↑↑↑ 1024px ↑↑↑ */