/* --- CATALOG FILTERS --- */
.catalog-filters .title--section {
	display: none;
	text-align: left;
}

summary {
/*	list-style-type: '▼';*/
	list-style-image: url("../icons/catalog/categories/catalog-filter-categories-arrow-decor.svg");
	cursor: pointer;
	transition: all 0.5s;
} 

/*
summary::marker {
	list-style-type: '⬇ ';
}
*/

summary:hover {
	color: var(--colorRed);
	list-style-image: url("../icons/catalog/categories/catalog-filter-categories-arrow-decor_hover.svg");
}

summary.categories_level-1.active, 
summary.categories_level-2.active {
	color: #ff6c6c;
	list-style-image: url("../icons/catalog/categories/catalog-filter-categories-arrow-decor_selected.svg");
}

summary.selected {
	color: var(--colorRose);
	list-style-image: url("../icons/catalog/categories/catalog-filter-categories-arrow-decor_selected.svg");
}

details[open] > summary {
/*	list-style-type: '◄';*/

}

details[open] > summary + .subcategories-list {
	margin-bottom: 15px;
}

.categories_level {
	margin-bottom: 15px;
	transition: all 0.75s;
}

.categories_level-1:last-child, 
.categories_level-3:last-child, 
.categories_level-3:last-child {
	margin-bottom: 0;
}

.categories_level-3 {
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
	transition: color 0.125s, background-color 0.75s;
}

.categories_level-3:hover {
	color: var(--colorRed);
/*	background-color: var(--colorRose);*/
}

.categories_level-3.active {
	color: var(--colorRed);
	background-color: var(--colorRose);/
}

.categories_level-3.active:hover {
	color: var(--colorWhite);
	background-color: var(--colorRed);/
}

.categories_level-3 a {
	display: block;
	line-height: 1;
}

.filter__form-legend {
	position: relative;
    top: 25px;
	margin-bottom: 12px;
}

.filter__form-fieldset {
	margin-bottom: 32px;
	padding: 25px 18px 12px;
	background-color: var(--colorGrayOther);
	border-radius: 5px;
}

.filter__form-payment-container {
	display: flex;
	gap: 10px;
}

.filter__form-payment-container .filter__form-input {
	flex-basis: calc((100% - 10px) / 2);
	max-width: 135px; /* wtf??? */
}

.filter__form-payment-container .filter__form-input {
	padding: 10px;
}

/*
.filter__form-input[type="checkbox"] {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	
	flex-shrink: 0;
    flex-grow: 0;
	
	width: 16px;
    height: 16px;
	padding: 0;
	margin-right: 8px;
	border: 0;
    background-image: url("../icons/catalog/filters/icon-catalog-filters-check_false.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.filter__form-input[type="checkbox"]:checked {
    background-image: url("../icons/catalog/filters/icon-catalog-filters-check_true.svg");
}

.filter__form-input[type="checkbox"]:focus-visible, 
.filter__form-input[type="checkbox"]:hover:not(:disabled) {
	box-shadow: 0px 2px 10px rgba(166, 173, 255, 0.8);
}

.filter__form-input[type="checkbox"]:disabled {
	background-image: url("../images/main/checkbox--disabled.svg");
}
*/

.filter__form-label {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 8px;
}

.filter__form-button--reset {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	color: var(--grayColor);
	background-color: transparent;
}

.filter__form-button--reset:hover {
	color: var(--blackColor);
	background-color: transparent;
}

.filter__form-button--reset:focus {
	border: 2px solid transparent;
}

.filter-brands__box {
	margin-bottom: 25px;
}

.brands-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 15px;
}

.brands-list__link {
	display: flex;
	align-items: center;
	gap: 15px;
}

.brands-list__link:hover {
	color: var(--colorRed);
}

.brands-list__link.selected .brands-list__image {
	border-color: var(--colorRose);
}

.brands-list__image {
	min-width: 55px;
	min-height: 55px;
	width: 55px;
	height: 55px;
/*	background-color: var(--colorGrayOther);*/
	object-fit: cover;
	object-position: center;
	border: 1px solid transparent;
	border-radius: 5px;
}

.brands-list__name {
	
}

#more-brands {
    position: relative;
    padding: 0;
    margin: 15px 0 0;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 17px;
    color: var(--colorGrayLight);
    background-color: var(--colorGrayOther);
    border: unset;
    border-radius: 10px;
    transition: all 0.75s;
}

#more-brands:hover {
    outline: none;
    background-color: var(--colorRose);
    color: var(--colorWhite);
}



/* --- SWITCHER --- */

.filter-switcher__box {
	margin-bottom: 25px;
}

.filter-switcher__name {
	display: flex;
	align-items: center;
	gap: 5px;
}

.inactiveMixin {
	content: "";
	position: absolute;
	display: block;
}

.beforeAnimation {
	transition: 0.2s cubic-bezier(0.24,0,0.5,1);
}

.afterAnimation {
	box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 4px 0px 0 rgba(0,0,0,0.04), 0 4px 9px rgba(0,0,0,0.13), 0 3px 3px rgba(0,0,0,0.05);
	transition: 0.35s cubic-bezier(0.54,1.6,0.5,1);
}

.toggleWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	padding: 10px;
	width: auto;
	border: 1px solid #E7E6E6;
	border-radius: 5px;
	background: var(--colorGrayOther);
}

.toggleWrapper input.mobileToggle {
	opacity: 0;
	position: absolute;
}

.toggleWrapper input.mobileToggle + label {
	position: relative;
	display: inline-block;
	user-select: none;
	transition: 0.4s ease;
	height: 24px;
	width: 50px;
	border: 1px solid #e4e4e4;
	border-radius: 60px;
}

.toggleWrapper input.mobileToggle + label:before {
  content: "";
  position: absolute;
  display: block;
  transition: 0.2s cubic-bezier(0.24,0,0.5,1);
  height: 24px;
  width: 51px;
  top: 0;
  left: 0;
  border-radius: 30px;
}

.toggleWrapper input.mobileToggle + label:after {
	content: "";
	position: absolute;
	display: block;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 4px 0px 0 rgba(0,0,0,0.04), 0 4px 9px rgba(0,0,0,0.13), 0 3px 3px rgba(0,0,0,0.05);
	transition: 0.35s cubic-bezier(0.54,1.6,0.5,1);
	/*  background: whitesmoke;*/
	background: #C5C5C5;
	height: 20px;
	width: 20px;
	top: 1px;
	left: 0px;
	border-radius: 60px;
}

.toggleWrapper input.mobileToggle:checked + label:before {
	background: var(--colorRed);
	transition: width 0.2s cubic-bezier(0,0,0,0.1);
}

.toggleWrapper input.mobileToggle:checked + label:after {
  	left: 28px;
	background: #fff;
/*	background: var(--colorWhite);*/
}

/* --- /SWITCHER --- */

#more-filters {
	display: none;
	width: auto;
	margin: 25px 0;
}

.catalog-filters .button_close {
	position: absolute;
	top: 15px;
	left: unset;
	right: 15px;
	display: none;
}



@media (max-width: 1024px) {
	
	#more-filters {
		display: flex;
	}
	
	.catalog-filters {
		position: fixed;
		right: 100%;
		top: 0;
		z-index: 100000;
		height: 100%;
		padding: 15px;
		background-color: var(--colorWhite);
		overflow-y: scroll;
		scrollbar-width: thin;
		scrollbar-color: var(--colorRed) var(--colorGrayDark);
		transition: all 1s;
	}
	
	.catalog-filters.active {
		left: 0;
		right: 50vw;
	}
	
	.catalog-filters .title--section {
		display: block;
	}
	
	.catalog-filters .button_close {
		display: block;
	}

}
/* ↑↑↑ 1024px ↑↑↑ */



@media (max-width: 640px) {

	.catalog-filters.active {
		left: 0;
		right: 0;
	}
	
}
/* ↑↑↑ 640px ↑↑↑ */