.section--comparison .products-items {
    display: flex;
	flex-wrap: nowrap;
    gap: 10px;
    width: auto;
    overflow-x: auto;
	scrollbar-width: thin;
    scrollbar-color: var(--colorRose) var(--colorGrayOther);
}

.section--comparison .nav-tabs {
	display: flex;
	gap: 8px;
	flex-wrap: nowrap;
	margin-bottom: 30px;
	border: none;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-width: thin;
    scrollbar-color: var(--colorRose) var(--colorGrayOther);
}

.section--comparison .nav-item {
/*	max-height: 54px;*/
/*
	border: 1px solid var(--colorGrayOther);
	border-radius: 5px;
*/
}

.section--comparison .nav-link {
	display: flex;
	gap: 5px;
	max-width: 220px;
	margin-bottom: unset;
	padding: 10px 15px;
	border: 1px solid var(--colorGrayOther);
	border-radius: 5px;
}

.section--comparison .nav-link.active {
	background-color: var(--colorGrayOther);
	border: 1px solid var(--colorGrayOther);
	border-radius: 5px;
}

.section--comparison .nav-link .tab-text {
	font-size: 14px;
	line-height: 17px;	
	text-align: left;
	color: var(--colorGrayLight);
}

.section--comparison .nav-link .tab-counter {
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	color: var(--colorBlackMain);
}

/*
.section--comparison .products-items::-webkit-scrollbar {
    cursor:pointer;
}
*/



/* PRODUCT FEATURES */

.section--comparison .products-item__features {
	margin-top: 20px;
	padding: 10px;
}

.section--comparison .tabs-subtitle {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.section--comparison .tabs-features__item-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	flex-direction: column;
    row-gap: 20px;
    column-gap: 95px;
    margin-bottom: 35px;
}

.section--comparison .tabs-features__item-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-shrink: 1;
    flex-grow: 1;
	min-width: 100%;
}

.section--comparison .tabs-features__item-element {
    flex-shrink: 0;
    max-width: 190px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--colorGrayLight);
}

.section--comparison .tabs-features__item-decor {
    display: block;
    flex-shrink: 1;
    flex-grow: 1;
    width: 100%;
    /* min-width: 120px; */
    border-top: 1px dashed #dcdcdc;
}

.section--comparison .tabs-features__item-value {
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: var(--colorBlackSecondary);
}



@media (max-width: 1180px) {
	
		.section--catalog_cards.section--comparison .products-item {
		flex-basis: calc((100% - 10px) / 3);
		min-width: calc((100% - 10px) / 3);
	}
	
}



@media (max-width: 820px) {
	
	.section--catalog_cards.section--comparison .products-item {
		flex-basis: calc((100% - 10px) / 2);
		min-width: calc((100% - 10px) / 2);
	}
	
}


@media (max-width: 540px) {
	
	.section--catalog_cards.section--comparison .products-item {
		flex-basis: 66%;
		min-width: 66%;
	}
	
	.section--comparison .nav-link {
		min-width: 220px;
	}

}


@media (max-width: 430px) {
	
	.section--catalog_cards.section--comparison .products-item {
		flex-basis: 80%;
		min-width: 80%;
	}
	
}


@media (max-width: 360px) {
	
	.section--catalog_cards.section--comparison .products-item {
		flex-basis: 90%;
		min-width: 90%;
	}
	
}