.section-content .content-inner {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.section-content .content-inner_row {
	flex-direction: row;
}

.section-content .content-inner_column {
	flex-direction: column;
}

.section-content .content__item {
	padding: 24px 18px;
	background-color: var(--colorGrayOther);
	border-radius: 10px;
}

.content__item-inner {
	
}

.section-content .content-inner_row .content__item {
	flex-basis: calc((100% - 20px) / 2);
	max-width: calc((100% - 20px) / 2);
}

.section-content .content-inner_column .content__items {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.section-content .content__title-box {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
}

.section-content .content__image {
	max-width: 40px;
	max-height: 40px;
	object-fit: cover;
}

.section-content .content__title {
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	transition: all 0.5s;
}

.content-warning {
	padding: 24px 18px;
/*	color: var(--colorGrayOther);*/
/*	background-color: var(--colorRed);*/
	color: var(--colorBlackMain);
    background-color: var(--colorGrayOther);
	border-radius: 10px;
}

.content-warning__title {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	color: inherit;
}

.content-warning__list {
/*
	display: flex;
	flex-direction: column;
	gap: 5px;
*/
	padding-left: 25px;
	list-style-type: disc;
	color: inherit;
}

.content-warning__list-item {
	font-size: 14px;
	line-height: 25px;
}

.content__list {
	padding-left: 25px;
	list-style-type: disc;
}

.content__text_transform {
	margin-bottom: -20px;
}



/* --- ADAPTING --- */
@media (max-width: 820px) {

	.section-content .content-inner_row .content__item {
		flex-basis: 100%;
		max-width: 100%;
	}
	
}
/* ↑↑↑ 820px ↑↑↑ */