.section--address {
	margin-bottom: 75px;
}

.section--address .address {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	font-style: normal;
}

.address__item-box {
	margin-bottom: 20px;
}

.address__item-box:last-child {
	margin-top: 35px;
}

.working-hours {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
}

.section--address .content__title {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 600;
	line-height: 22px;
	color: var(--colorBlackSecondary);
}

.address__item-title {
	margin-bottom: 10px;
	color: var(--colorBlackSecondary);
}

.section--address .checkout-item__link {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
}

.section--map iframe {
	width: 100%;
}



/* --- ADAPTING */

@media (max-width: 1023px) {
	
	.section--address {
		margin-bottom: 40px;
	}

}
/* ↑↑↑ 1023px ↑↑↑ */



@media (max-width: 820px) {
	
	.section--address .address {
		flex-direction: column;
		gap: 35px;
	}

}
/* ↑↑↑ 820px ↑↑↑ */