@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/GothamPro.eot");
    src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"),
        url("../fonts/GothamPro.woff2") format("woff2"),
        url("../fonts/GothamPro.woff") format("woff"),
        url("../fonts/GothamPro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}