/* --- FOOTER-TOP --- */

.footer {
	padding: 45px 0 40px;
	color: var(--colorWhite);
	background-color: #2e2e2e;
}

.footer address {
	font-style: normal;
}

.footer__top {
/*	margin-bottom: 75px;*/
}

.footer__top-items {
	display: flex;
/*	justify-content: space-between;*/
	gap: 120px;
}

.footer__top-address {
	font-style: normal;
}

.footer__top-item-title {
/*	margin-bottom: 35px;*/
	font-size: 32px;
	font-weight: 500;
	line-height: 20px;
}

.footer__top-item-title.footer__top-item-title_about {
	color: transparent;
	cursor: default;
}

.footer__top-address-title {
	margin-bottom: 8px;
	color: var(--colorWhiteTransparent);
}

.footer__top-address-item {
	margin-bottom: 16px;
}

.footer__top-address-phone {
	
	font-size: 20px;
	line-height: 1;
	border-bottom: 1px dashed transparent;
}

.footer__top-address-phone:hover {
	border-bottom: 1px dashed var(--colorWhite);
}

.footer__top-item-link {
	margin-bottom: 8px;
	border-bottom: 1px solid transparent;
}

.footer__top-item-link:not(.footer__top-item-title .footer__top-item-link) {
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

.footer__top-item-link:hover {
	border-bottom: 1px solid var(--colorWhite);
}

.footer__top-item-title .footer__top-item-link:hover {
	border-bottom: 1px solid transparent;
}

.footer__top-item-title--mobile {
	display: none;
}



/* --- DIVIDER --- */

.footer__divider {
	margin: 25px 0 20px;
	height: 2px;
	background: #3d3d3d;
}

.footer__divider_mobile {
	display: none;
}


/* --- FOOTER-BOTTOM --- */

.footer__bottom-items {
	display: flex;
/*	justify-content: space-between;*/
	align-items: center;
	gap: 100px;
}

/*
.footer__bottom-item--copyright {
	display: flex;
	align-items: center;
	gap: 100px;
}
*/

.footer__bottom-item-contact-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.footer__bottom-item-contact-link {
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
}

.footer__bottom-item-contact-link:hover {
/*	color: var(--colorRose);*/
	filter: brightness(0.65);
}



/* --- ADAPTING --- */

@media (max-width: 1536px) {

}
/* ↑↑↑ 1536px ↑↑↑ */



@media (max-width: 1366px) {
	

	
}
/* ↑↑↑ 1366px ↑↑↑ */



@media (max-width: 1280px) {


}
/* ↑↑↑ 1280px ↑↑↑ */



@media (max-width: 1180px) {
	
}
/* ↑↑↑ 1180px ↑↑↑ */



@media (max-width: 1024px) {
	
	
}
/* ↑↑↑ 1024px ↑↑↑ */



@media (max-width: 768px) {
	
	.footer__top-items {
		flex-wrap: wrap;
		row-gap: 10px;
	}
	
	.footer__top-item {
		flex-basis: 50%;	
	}

}
/* ↑↑↑ 768px ↑↑↑ */



@media (max-width: 534px) {

	.footer {
		padding: 30px 0 45px;
	}
	
	.footer__top {
		margin-bottom: 32px;
	}
	
	.footer__top-items {
/*		row-gap: 16px;*/
		row-gap: 0;
	}

	.footer__top-item {
		flex-basis: 100%;
		padding-bottom: 16px;
		border-bottom: 1px solid var(--colorGrayAlternate);
	}
	
/*
	.footer__top-item:first-child {
		order: 1;
		border-bottom: unset;
		padding-bottom: 0;
	}
		
	.footer__top-item:first-child .footer__top-item-title {
		display: none;
	}
*/
	
	.footer__top-item-title {
		margin-bottom: 0;
/*		font-size: 24px;*/
	}
	
	.footer__top-item-title.accordion-dispatcher.active {
		margin-bottom: 16px;
	}
	
/*
	.footer__top-item-title--mobile {
		display: block;
		margin-bottom: 32px;
	}
*/
	
	.footer__bottom-items {
		flex-direction: column;
		align-items: flex-start;
/*		gap: 8px;*/
		gap: 28px;
	}
	
	.footer__bottom-item--copyright {
		flex-direction: column;
		gap: 8px;
	}
	
	.footer__top-item-title.footer__top-item-title_about {
		color: var(--colorWhite);
		cursor: pointer;
	}
	
	.footer__divider {
		display: none;
	}
	
	.footer__divider_mobile {
		display: block;
	}
	
	
	/* --- ACCORDION --- */
	
	.accordion-dispatcher {
		position: relative;
		cursor: pointer;
		transition: 0.4s;
	}
	
	.accordion-panel {
/*		display: none;*/
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}
	
	.accordion-dispatcher:after {
		content: "";
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		margin-left: 5px;
		width: 20px;
		height: 20px;
		background-image: url("../icons/footer/footer-accordion-icon--plus.svg");
		background-repeat: no-repeat;
		background-position: center;	
	}

	.accordion-dispatcher.active:after {
		content: "";
		width: 20px;
		height: 20px;
		background-image: url("../icons/footer/footer-accordion-icon--minus.svg");
		background-repeat: no-repeat;
		background-position: center;
	}

}
/* ↑↑↑ 534px ↑↑↑ */