/* --- HEADER-TOP --- */

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100000;
	background-color: var(--colorWhite);
	box-shadow: 0 0 20px 0 rgba(38, 38, 38, 0.1);
}

.header__top {
/*
	position: fixed;
	inset: 0;
	z-index: 1000;
*/
	display: flex;
	align-items: center;
	height: 30px;
	max-height: 30px;
	background-color: #f8f8f8;
/*	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);*/
}

.header__top-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-box {
	display: flex;
	align-items: center;
	gap: 25px;
	width: 100%;
}

.navigation-menu-button {
	width: 24px;
	height: 24px;
	padding: unset;
	background-image: url("../icons/header/menu.svg");
	background-position: center;
	background-repeat: no-repeat;
	border: 2px solid transparent;
}

.button.navigation-menu-button:hover {
	filter: brightness(0.8);
	transform: scale(1.1);
	border: 2px solid transparent;
}

.logo-box .logo {
	line-height: 0;
}

.logo {
	display: inline-block;
	align-items: center;
	transition: all 0.75s;
}

.logo:hover {
	filter: brightness(0.9);
/*	transform: scale(1.05);*/
	border: none;
}

.logo:focus {
	filter: brightness(1.15);
    transform: scale(1.1);
	outline: 2px solid var(--colorBlackDark);
	outline-offset: 10px;
}

.tagline {
	font-weight: 700;
	font-size: 20px;
	font-family: "Proxima Nova Bold", Arial, sans-serif;
	line-height: 1;
}

.contacts-box {
	display: flex;
	align-items: center;
	gap: 24px;
}

.contacts-box__phone, 
.contacts-box__email {
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	color: #3c3c3c;


/*	border: 1px dashed transparent;*/
	cursor: pointer;
	transition: all 0.75s;
}

.contacts-box__phone:hover, 
.contacts-box__email:hover {
/*	border-bottom: 1px dashed var(--colorBlack);*/
	transform: scale(1.05);
}

.useful-box {
	display: flex;
	align-items: center;
	gap: 25px;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;

}

.useful-box__link:hover {
	transform: scale(1.1);
	color: var(--colorRed);
}

.logo-box_mobile {
	display: none;
	align-items: center;
}

.logo-box_mobile .logo {
	line-height: 0;
}



/* --- HEADER-BOTTOM --- */

.header__bottom-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}

.header__catalog-link {
/*	margin-right: 20px;*/
	transition: all 1s;
}

/*
.header__catalog-link:hover {
	color: var(--colorWhite);
	background-color: var(--colorRose);
}
*/

.header__search-container {
	position: relative;
	padding: 15px;
	border-radius: 5px;	
	transition: all 0.75s;
}

.header__search-container.focus {
	background-color: var(--colorGrayOther);
	box-shadow: 1px 1px 14.7px 0px #00000040;
}

.header__search-container_desktop {
/*	min-width: calc(100% - 190px - 45px - 95px + 2*25px + 20px); */
	flex-grow: 1;
	margin-right: 20px;
}

.header__search {
	width: 100%;
	padding: 9px 10px 9px 50px;
/*	margin-left: 20px;*/
	background-color: #f8f8f8;
	background-image: url("../icons/header/icon-search.svg");
	background-repeat: no-repeat;
	background-position: left 10px center;
	background-size: auto;
}

.header__search:focus {
	background-image: url("../icons/header/icon-search_focus.svg");
}

.header__search::placeholder {

}

.header__search-result-box {
	position: absolute;
	top: calc(100% + 15px);
	left: 0;
	z-index: 100000;
	display: none;
	flex-direction: column;
	width: 100%;
	padding: 16px;
	background-color: var(--colorGrayOther);
	box-shadow: 1px 1px 14.7px 0px #00000040;
	border-radius: 5px;
	opacity: 0;
}

.header__search-result-box.active {
	display: flex;
	opacity: 1;
}

.header__search-result-box-part {
/*	margin-bottom: 18px;*/
}

.header__search-result-box-part:last-child {
	margin-bottom: unset;
}

.header__search-result-box-title {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 17px;
	color: var(--colorGrayLight);
}

 .header__search-result-box-list {
	display: flex;
	flex-direction: column;
}

.header__search-result-box-part_products .header__search-result-box-list {
	gap: 5px;
	font-size: 14px;
	line-height: 17px;
}

.header__search-result-box-part_brands .header__search-result-box-list {
	gap: 10px;
	font-size: 16px;
	line-height: 19px;
}

.header__search-result-box-list-item {
	display: flex;
	align-items: center;
	gap: 5px;
}

.header__search-result-box-part_brands .header__search-result-box-list-item {
	gap: 15px;
}

.header__search-result-box-list-item-link {
	
}

.header__search-result-box-part_brands .header__search-result-box-list-item-icon {
	width: 55px;
	height: 55px;
	background-color: var(--colorGrayDefault);
	object-fit: cover;
	object-position: center;
	border-radius: 5px;
}


.header__search_mobile {
	display: none;
	width: 40px;
	height: 40px;
	background-color: #f8f8f8;
	background-image: url("../icons/header/icon-search.svg");
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.75s;
}

.header__search_mobile:hover {
	background-color: var(--colorRose);
	background-image: url("../icons/header/icon-search_white.svg");
}

.control-box {
	display: flex;
	align-items: center;
	gap: 10px;
}

.control-box__link {
	position: relative;
	z-index: 10;
/*
	width: 40px;
	height: 40px;
*/
	background-color: #f8f8f8;
	border-radius: 10px;
}

.control-box__link-inner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 10px;
	transition: all 0.75s;
}

.control-box__link-inner:hover {
/*	filter: brightness(0.95);*/
    transform: scale(1.15);
	background-color: var(--colorRose);
	border-radius: 10px;
}

.control-box__link-inner.counting:hover {
	background-color: var(--colorRed);
}

.control-box__link-inner svg path {
	transition: all 1s;
}

.control-box__link-inner:hover svg path {
	fill: var(--colorWhite);
}

.control-box__link-inner_favor:hover svg path {
	fill: var(--colorRose);
	stroke: var(--colorWhite);
}

.control-box__link-num {
	position: absolute;
	top: -25%;
	right: -25%;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 27px;
	min-width: 27px;
	max-height: 27px;
	font-family: Inter;
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	color: var(--colorWhite);


	background-color: var(--colorRose);
	border-radius: 50%;
	
}



/* --- ADAPTING --- */

@media (max-width: 1920px) {
	
	
}
/* ↑↑↑ 1920px ↑↑↑ */



@media (max-width: 1680px) {
	

	
}
/* ↑↑↑ 1680px ↑↑↑ */



@media (max-width: 1440px) {

	
}
/* ↑↑↑ 1440px ↑↑↑ */



@media (max-width: 1366px) {

	
}
/* ↑↑↑ 1366px ↑↑↑ */



@media (max-width: 1024px) {
	

}
/* ↑↑↑ 1024px ↑↑↑ */



@media (max-width: 767px) {
	
	.header__top {
		height: 35px;
		max-height: 35px;
	}
	
	.logo-box_mobile {
		display: flex;
	}
	
	.contacts-box {
		display: none;
	}
	
	.header__bottom .logo-box .logo {
		display: none;
	}
	
	.header__search_mobile {
		display: flex;
	}
		
	.header__search {
		display: none;
	}
	
	.header__catalog-link {
		margin-right: 0;
	}
	
	.header__search-container {
		display: none;
	}

}
/* ↑↑↑ 767px ↑↑↑ */



@media (max-width: 534px) {
	
/*
	.header__top {
		height: 50px;
		max-height: 50px;
	}
*/
	
/*
	.logo {
		width: 70px;
		height: 25px;
	}
*/
	
	.contacts-box {
		display: none;
	}
	
	.tagline {
		font-size: 14px;
	}

	
	.subtitle {
		font-size: 16px;
	}
	
	.header__bottom {
/*		margin-top: 50px;*/
	}
	
}
/* ↑↑↑ 534px ↑↑↑ */



@media (max-width: 429px) {
	
	.header__top {
		height: unset;
		max-height: unset;
		padding: 10px 0;
	}

	.header__top-inner {
		flex-direction: column;
		gap: 10px;
	}
	
	.header__bottom-inner {
		flex-direction: column;
		gap: 20px;
	}
	
	.logo-box {
		justify-content: center;
	}
	
	.control-box {
		justify-content: center;
	}

}	
/* ↑↑↑ 429px ↑↑↑ */



@media (max-width: 320px) {
	
}	
/* ↑↑↑ 320px ↑↑↑ */