.partners__item {
	position: relative;
}

.partners__item-link {
	position: relative;
	display: block;
}

.partners__item-image {
/*	position: absolute;*/
	display: block;
/*	inset: 0;*/
	width: 166px;
	height: 166px;
/*	background-color: var(--colorGrayDefault);*/
	background-color: transparent;
/*	object-fit: cover;*/
	object-fit: contain;
	object-position: center;
	border-radius: 15px;
}



@media (max-width: 534px) {
	
	#main-partners .slick-initialized .slick-slide {
		display: flex;
		justify-content: center;
	}
	
}
/* ↑↑↑ 534px ↑↑↑ */