.section--main-categories-images {
	padding: 75px 0 0;
	color: #f8f8f8;
}

.section--main-categories-images .title--section {
	margin-bottom: 20px;
	text-align: left;
	color: var(--colorBlackMain);
}

.categories-items {
	display: flex;
	gap: 30px;
}

.categories-item {
	position: relative;
	flex-basis: calc((100% - 30px) / 2);
	min-height: 585px;

	background-color: var(--colorGrayDefault);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	
}

.categories-item .categories-item__link_01 {
	background-image: url("../images/section--categories-main_images/categories-main_images--image_01.png");
}

.categories-item .categories-item__link_02 {
	background-image: url("../images/section--categories-main_images/categories-main_images--image_02.png");
}

.categories-item__link_01 + .categories-item__info-inner {
	bottom: 0;
}

.categories-item__link_01 + .categories-item__info-inner .categories-item__description {
	max-width: 210px;
}

.categories-item__link_02 + .categories-item__info-inner {
	top: 0;
	right: 0;
	max-width: 440px;
}

.categories-item__title {
	margin-bottom: 14px;
	font-size: 36px;
	font-weight: 400;
	line-height: 44px;
}

.categories-item__title:hover {
	color: var(--colorWhiteTransparent);
}

.categories-item__title a {
	line-height: inherit;
}

.categories-item__description {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.categories-item__link {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 585px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}


.categories-item__info-inner {
	position: absolute;
	padding: 25px 40px 50px;
}


/* IMAGES HOVER */
.categories-item {
	display: inline-block;
    overflow: hidden;
}

.categories-item__link {
	transition: all 0.75s;
	display: block;
}

.categories-item__link:hover {
	transform: scale(1.025);
	filter: grayscale(0.4);
}




/* --- ADAPTING --- */

@media (max-width: 1024px) {
	
	.categories-item__info-inner {
		padding: 25px 20px 30px;
	}
	
}
/* ↑↑↑ 1024px ↑↑↑ */

@media (max-width: 819px) {

	.categories-items {
		flex-direction: column;	
	}
	
	.categories-item .categories-item__link_01 {
		
	}
	
}
/* ↑↑↑ 819px ↑↑↑ */



@media (max-width: 767px) {
	
	.categories-item .categories-item__link_01 {
		background-position: center left;
	}
	
}
/* ↑↑↑ 767px ↑↑↑ */