:root {
	--colorBlackMain: #313131;
	--colorBlackSecondary: #3c3c3c;
/*	--colorBlackTransparent: rgba(31, 31, 31, 0.6);*/
	--colorBlackTransparent: #31313190;
	
	--colorWhite: #ffffff;
	--colorWhiteTransparent: rgba(194, 194, 194, 0.6);
	
	--colorRose: #ff9a9a;
	
	--colorRed: #ff4a4a;

	--colorGrayLight: #a0a0a0;
	--colorGrayDark: #e3e3e3;
	--colorGrayDefault: #d9d9d9;
	--colorGrayOther: #f8f8f8;
	--colorGrayAnother: #ececec;
}